section[id]{
  scroll-margin-top: 100px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  color:#0d6efd;
  padding: 180px 0;
  text-align: center;
  background: linear-gradient(rgba(13,110,253,0.1), rgba(13,110,253,0.1));
}

@keyframes showUp{
  from {opacity: 0; margin-top: 20px;}
  to {opacity: 1; margin-top: 0;}
}

.animate-title{animation: showUp 1.7s;}
.animate-subtitle{animation: showUp 2.2s;}
.animate-btn{animation: showUp 2.6s;}

.card-hover{
  transition: 0.3s;
  border: 1px solid #0d6efd;
}

.card-hover:hover{
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(13,110,253,0.2);
}

.why-us{ 
  margin: 0 30px;
}

.card{
  padding: 10px;
  margin:15px 0 ;
  box-shadow:0 5px 25px rgba(1, 1, 1, 15%) ;
  transition: 0.7s ease;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-whyus:hover, .card-review:hover{
  transform: scale(1.05);
  border: 1px solid #0d6efd;
}

.responsive-why-us{
  flex: 0 0 100%;
  max-width: 100%;
}

@media(min-width: 768px){
  .responsive-why-us{
    flex: 0 0 calc(50% - 0.75rem);
    max-width: calc(50% - 0.75rem);
  }
}

@media(min-width: 992px){
  .responsive-why-us{
    flex: 0 0 calc(25% - 1.125rem);
    max-width: calc(25% - 1.125rem);
  }
}

.responsive-cat{
  flex: 0 1 auto;
  max-width: 220px;
  width: 100%;
}

@media(min-width: 576px){
  .responsive-cat{ max-width: 200px; }
}

@media(min-width: 768px){
  .responsive-cat{ max-width: 180px; }
}

@media(min-width: 992px){
  .responsive-cat{ max-width: 160px};
}

#categories .d-flex{
  overflow-x: auto;
  flex-wrap: nowrap;
}

.card img{
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

#product-details img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

#product-spotlight img{
  width: 90%;
  height: 200px;
  object-fit: cover;
}

.card-spotlight{
  transition: 0.4s ease;
}

.card-spotlight:hover{
  transform: scale(1.05);
  border: 1px solid #0d6efd;
}

.edit{
  align-self: start;
  height: 35px;
  font-size: 19px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.custom-fielset{
  border: 2px dashed #0d6efd;
}


